allow system_app { sysfs_sectouch sysfs_vibrator sysfs_kcal_file sysfs_fastcharge }:dir search;
allow system_app { sysfs_sectouch sysfs_vibrator sysfs_kcal_file sysfs_fastcharge }:file rw_file_perms;

set_prop(vendor_init, spectrum_prop);
