 # Initialization
on property:sys.boot_completed=1
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
   chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
   chown system system /sys/module/workqueue/paramaters/power_efficient
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/governor
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/governor
# Balance (default profile)
on property:persist.spectrum.profile=0
  # Setup governor
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

  # Set min freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

  # Set max freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2457600

  # Configure governor settings for little cluster
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500

  # Configure governor settings for big cluster
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500

  # Set up schedtune
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 10
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set default schedtune value for foreground/top-app (only affects EAS)
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 1
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set up boost
  write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 15
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800 1:0 2:0 3:0 4:1056000 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 400

  # set up gpu
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 710000000


# Performance
on property:persist.spectrum.profile=1
  # Setup governor
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

  # Set min freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

  # Set max freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2457600

  # Configure governor settings for little cluster
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500

  # Configure governor settings for big cluster
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500

  # Set up schedtune
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 10
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set default schedtune value for foreground/top-app (only affects EAS)
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 1
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set up boost
  write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 20
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800 1:0 2:0 3:0 4:1190400 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 600

  # set up gpu
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 710000000

# Battery
on property:persist.spectrum.profile=2
  # Setup governor
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

  # Set min freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

  # Set max freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1248000
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1420800

  # Configure governor settings for little cluster
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500

  # Configure governor settings for big cluster
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500

  # Set up schedtune
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 10
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set default schedtune value for foreground/top-app (only affects EAS)
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 1
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set up boost
  write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 10
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:672000 1:0 2:0 3:0 4:729600 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 250

  # set up gpu
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 670000000

# Gaming
on property:persist.spectrum.profile=3
  # Setup governor
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "performance"

  # Set min freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

  # Set max freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2457600

  # Configure governor settings for little cluster
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500

  # Configure governor settings for big cluster
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500

  # Set up schedtune
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 10
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set default schedtune value for foreground/top-app (only affects EAS)
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 1
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set up boost
  write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 25
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401600 1:0 2:0 3:0 4:1497600 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 800

  # set up gpu
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 710000000

# Ultra Battery
on property:persist.spectrum.profile=4
  # Setup governor
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

  # Set min freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

  # Set max freqs
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 825600
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 902400

  # Configure governor settings for little cluster
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500

  # Configure governor settings for big cluster
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
  write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500

  # Set up schedtune
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 10
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set default schedtune value for foreground/top-app (only affects EAS)
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 1
  write /dev/stune/top-app/schedtune.prefer_idle 1

  # set up boost
  write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 5
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:441600 1:0 2:0 3:0 4:422400 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 150

  # set up gpu
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 515000000
